<!--Templates/registration/singup.html-->

{% extends 'base.html' %}
{% load static%}
<html>
    <head>

        <title>Django Blog</title>
        <link rel="stylesheet" href= "{% static 'css/base.css'%}">
        <link rel= "stylesheet" href=  "{% static 'bootstrap-5.2.2-dist/js/bootstrap.min.css'%}">
        <link rel="shortcut icon" href="{% static 'img/imagen1' %}">
    </head>
{% block content %}

    <h2>Sign Up</h2>
    <form method= "post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="boton1">Sign Up</button>
    </form>
    <script src= "{%static 'bootstrap-5.2.2-dist/js/bootstrap.min.js'%}"></script>

</html>

{% endblock content %}
